{% extends 'base.html' %}

{% block title %}Liste des Configurations{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Configurations - Structures Administratives</h1>
    <h2>Wilayas</h2>
    <ul>
        {% for wilaya in wilayas %}
        <li>{{ wilaya.name }}</li>
        {% endfor %}
    </ul>

    <h2>Moughataas</h2>
    <ul>
        {% for moughataa in moughataas %}
        <li>{{ moughataa.label }}</li>
        {% endfor %}
    </ul>

    <h2>Communes</h2>
    <ul>
        {% for commune in communes %}
        <li>{{ commune.name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
